yellowish = rgb(248, 241, 187)

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah')

h1, h2, p, a, .sky
  text-align center

a, h4
  color yellowish
  text-decoration none

h1
  font-size 5rem

.active
  color: green

.plane, .bird
  display inline-block
  margin 0 1rem

.x-button
  display inline-block
  margin auto 0
  font-size 2rem
  cursor pointer
