@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-image: url('../assets/stardust.png');
  font-family: 'Roboto Mono', monospace;
}

.nav-contents-center {
  text-align: center;
  width: 100%;
}

.nav-bar {
  margin-bottom: 30px;
}

.nav-bar .nav-item {
  padding: 15px;
}

.monitor-container {
  height: 300px;
  width: 300px;
  background-image: url('../assets/monitor.png');
  background-size: cover;
  margin: 0 auto;
  opacity: .7;
  text-align: center;
  margin-bottom: 40px;
}

.monitor-contents {
  padding-top: 40%;
  color: white;
  width: 75%;
  margin: 0 auto;
}

.monitor-contents .default-text{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    width: 80%;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 90% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.satellite {
  padding: 25px;
}

.satellite-img {
  height: 55px;
  width: 55px;
  background-image: url('../assets/satellite.png');
  background-size: cover;
  margin: 0 auto;
  cursor: pointer;
}

.satellite-color {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  opacity: .4;
}

.satellite-move-1 {
  -webkit-animation-name:             rotateOne; 
  -webkit-animation-duration:         15s; 
  -webkit-animation-iteration-count:  infinite;
}

.satellite-move-2 {
  -webkit-animation-name:             rotateTwo; 
  -webkit-animation-duration:         7s; 
  -webkit-animation-iteration-count:  infinite;
}

.satellite-move-3 {
  -webkit-animation-name:             rotateThree; 
  -webkit-animation-duration:         10s; 
  -webkit-animation-iteration-count:  infinite;
}

.satellite-move-4 {
  -webkit-animation-name:             rotateFour; 
  -webkit-animation-duration:         12s; 
  -webkit-animation-iteration-count:  infinite;
}

.satellite-move-5 {
  -webkit-animation-name:             rotateFive; 
  -webkit-animation-duration:         13s; 
  -webkit-animation-iteration-count:  infinite;
}

@-webkit-keyframes rotateOne {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% { 
    -webkit-transform: rotate(99deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes rotateTwo {
  0% {
    -webkit-transform: rotate(50deg);
  }
  50% { 
    -webkit-transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(50deg);
  }
}

@-webkit-keyframes rotateThree {
  0% {
    -webkit-transform: rotate(200deg);
  }
  50% { 
    -webkit-transform: rotate(240deg);
  }
  100% {
    -webkit-transform: rotate(200deg);
  }
}

@-webkit-keyframes rotateFour {
  0% {
    -webkit-transform: rotate(180deg);
  }
  50% { 
    -webkit-transform: rotate(320deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@-webkit-keyframes rotateFive {
  0% {
    -webkit-transform: rotate(290deg);
  }
  50% { 
    -webkit-transform: rotate(400deg);
  }
  100% {
    -webkit-transform: rotate(290deg);
  }
}

.deactivate-satellite-color {
  opacity: .5;
  -webkit-transform: rotate(-43deg);
}