@import '_normalize.styl'
@import '_example.styl'

bluish = rgb(157, 211, 249)

body
  background bluish
  font-family 'Gloria Hallelujah', cursive;

.nav-bar
  font-size: 1.5rem
  text-align center
  margin 1rem

.nav-bar a
  margin 1rem

input
  display block
  margin 0 auto
  